# User-specific files
*.suo
*.user
*.vs
*.log
*.received.txt
*.verified.txt.bak

.awcache
.git
.idea
.vs
.vscode

# Build results
bin/
build/
obj/
out/

# Test Output
_test-output/

# NodeJS 
node_modules/

/backend/src/Notifo/Assets

appsettings.Development.json
appsettings.Production.json
launchSettings.json
