/* stylelint-disable */

$color-background:  #fff;
$color-border:      #eee;
$color-button:      #666;
$color-control:     #ccc;
$color-empty:       #888;
$color-error:       #f5365c;
$color-input:       #ddd;
$color-label-text:  #fff;
$color-label:       #f00;
$color-link:        #675df8;
$color-scrollbar:   #b3bbbf;
$color-shadow:      rgba(0, 0, 0, .2);
$color-success:     #2dce89;
$color-text:        #222;
$size-toggle:         20px;
$font-size-lg:        1.1rem;
$font-size-md:        1rem;
$font-size-sm:        .9rem;
$font-size-ssm:       .8rem;
$font-family:        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;