/* stylelint-disable */

$color-background:          var(--color-background);
$color-background-value:    #fff;
$color-border:              var(--color-border);
$color-border-value:        #eee;
$color-border-dark:         var(--color-border);
$color-border-value:        #eee;
$color-button:              var(--color-button);
$color-button-value:        #444;
$color-control:             var(--color-control);
$color-control-value:       #ccc;
$color-empty:               var(--color-empty);
$color-empty-value:         #888;
$color-error:               var(--color-error);
$color-error-value:         #f5365c;
$color-input:               var(--color-input);
$color-input-value:         #ddd;
$color-seen-text:           var(--color-seen-text);
$color-seen-text-value:	    #fff;
$color-seen: 				var(--color-seen);
$color-seen-value:			#f00;
$color-link:				var(--color-link);
$color-link-value: 			#675df8;
$color-scrollbar: 			var(--color-scrollbar);
$color-scrollbar-value: 	#b3bbbf;
$color-shadow: 				var(--color-shadow);
$color-shadow-value: 		rgba(0, 0, 0, .2);
$color-success: 			var(--color-success);
$color-success-value: 		#2dce89;
$color-text:				var(--color-text);
$color-text-value: 			#222;
$font-size-lg: 				var(--font-size-lg);
$font-size-lg-value:		1.1rem;
$font-size-md: 				var(--font-size-md);
$font-size-md-value: 		1rem;
$font-size-sm: 				var(--font-size-sm);
$font-size-sm-value: 		.9rem;
$font-size-ssm: 			var(--font-size-ssm);
$font-size-ssm-value: 		.8rem;
$font-family: 				var(--font-family);
$font-family-value: 		-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$size-toggle: 				20px;