@import 'vars';
@import 'mixins';

.app {
    &-link {
        & {
            color: inherit;
            display: inline-block;
        }

        &:hover,
        &:focus {
            color: inherit;
            text-decoration: none;
        }
    }

    &-card {
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: 17rem;
    }
}

.apps-dropdown {
    .dropdown-menu {
        margin-bottom: 0;
        margin-top: 1rem !important;
        max-width: 15rem;;
        max-height: 15rem;
        overflow-x: visible;
        overflow-y: auto;

        a {
            @include truncate;
        }
    }

    &-name {
        @include truncate;
        display: inline-block;
        max-width: 8rem;
        min-width: 0;
        vertical-align: middle;
    }

    .dropdown-toggle {
        background-color: rgba(0, 0, 0, 10%);
        border: 0;
        border-radius: $border-radius;
        margin-bottom: -.5rem;
        margin-top: -.5rem;
        padding: .75rem 1rem !important;
    }
}