@import '_vars';

$primary: $color-primary;

/* stylelint-disable-next-line selector-class-pattern */
.__react_component_tooltip {
    z-index: 10000 !important;
}

.custom-control-label::before,
.custom-control-label::after {
    top: 0 !important;
}