@import '_vars';
@import '_mixins';

.templates {
    &-overview {
        max-width: 600px;
    }
}

.template-form {
    @include fixed($size-header, 0, 0, null);
    @include box-shadow-outer(-2px, 0, 4px, .05);
    border: 0;
    border-radius: 0;
    max-width: 70%;

    .card-header {
        background-color: $color-white;
        border-left: 0;
        border-radius: 0;

        h3 {
            margin: 0;
        }
    }

    .card-body {
        border: 0;
        border-radius: 0;
        overflow-x: auto;
        overflow-y: scroll;
        position: relative;
    }

    &-inner {
        min-width: 1100px;
    }

    &-preview {
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }

    .preview-container {
        background-color: $color-background;
        border: 2px solid $color-border;
        border-radius: 2px;
        margin-bottom: 1rem;
        width: 600px;
        text-align: left;
    }
}