@import '_vars';
@import '_mixins';

.users {
    max-width: 1200px;
}

.user {
    max-width: 1600px;

    &-info {
        width: 100%;

        @media (min-width: $breakpoint-lg) {
            width: 380px;
        }
    }

    &-notification-details {
        .json-details {
            border-left: 1px solid $color-table;
            border-right: 1px solid $color-table;
        }
    }
}