@import 'vars';
@import 'mixins';

.users {
    max-width: 1200px;
}

.user {
    max-width: 1600px;

    &-info {
        width: 100%;

        @media (min-width: $breakpoint-lg) {
            width: 380px;
        }
    }

    &-notification {
        &-header {
            background: lighten($color-table, 7%);

            td {
                padding-left: 3rem !important;
                padding-top: .5rem;
            }

            .nav-link {
                font-size: $font-size-sm;
                padding-top: .75rem;
                padding-bottom: .75rem;
            }
        }

        &-settings {
            max-width: 600px;
        }

        &-status {
            margin-top: 2.5rem !important;
        }

        &-details {
            & > td {
                padding-left: 3rem;
                padding-right: 3rem;
            }

            &:last-child {
                .json-details {
                    border-bottom: 1px solid $color-table;
                }
            }
        }
    }
}

.channels-filter {
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: .25rem;

    .col-2 {
        overflow: hidden;
        padding-left: .125rem;
        padding-right: .125rem;

        &:first-child {
            padding: 0;
        }

        &:last-child {
            padding: 0;
        }
    }

    .btn {
        @include truncate;
        background: $color-white;
        border: 1px solid $color-border;
        border-radius: $border-radius;
        box-shadow: none;
        font-size: $font-size-sm;
        font-weight: normal;
        padding: .75rem .25rem !important;
        opacity: .6;
        text-align: center;
        text-transform: none;
        width: 100%;

        &:hover {
            background: $color-white;
        }

        &.active {
            opacity: 1;
        }
    }
}