@import 'vars';
@import 'mixins';

.users {
    max-width: 1200px;
}

.user {
    max-width: 1600px;

    &-info {
        width: 100%;

        @media (min-width: $breakpoint-lg) {
            width: 380px;
        }
    }

    &-notification {
        &-header {
            background: lighten($color-table, 7%);

            td {
                padding-left: 3rem !important;
                padding-top: .5rem;
            }

            .nav-link {
                font-size: $font-size-sm;
                padding-top: .75rem;
                padding-bottom: .75rem;
            }
        }

        &-settings {
            max-width: 600px;
        }

        &-status {
            margin-top: 2.5rem !important;
        }

        &-details {
            & > td {
                padding-left: 3rem;
                padding-right: 3rem;
            }

            &:last-child {
                .json-details {
                    border-bottom: 1px solid $color-table;
                }
            }
        }
    }
}