/* stylelint-disable */

$color-white:        #fff;
$color-black:        #000;
$color-border:       #eee;
$color-border-dark:  #b8cbd4;
$color-background:   #f4f2f3;
$color-error:        #f5365c;
$color-warning:      #ffb136;
$color-success:      #3ab480;
$color-light:        #fafafa;
$color-nav:          #525f7f;
$color-text:         #525f7f;
$color-input:        #cad1d7;
$color-table:        #dee2e6;

$font-size-sm:        .875rem;

$color-primary:       #8c84fa;
$color-primary-darken:  darken($color-primary, 8%);
$color-success:       #2dce89;

$text-muted:          darken(#8898aa, 5%);

$size-header:           4.25rem;
$size-sidebar:          5rem;

$dropdown-box-shadow:   0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);

$paragraph-font-size:   .875rem;
$paragraph-font-weight: normal;

$breakpoint-sm:         576px;
$breakpoint-md:         768px;
$breakpoint-lg:         992px;
$breakpoint-xl:         1200px;