$color-white:        #fff;
$color-border:       #eee;
$color-border-dark:  #b8cbd4;
$color-background:   #f4f2f3;
$color-error:        #f5365c;
$color-light:        #fafafa;
$color-nav:          #525f7f;
$color-text:         #525f7f;
$color-input:        #cad1d7;

$font-size-base: .85rem;

$color-primary:       #8c84fa;
$color-primary-darken:  darken($color-primary, 8%);
$color-success:       #2dce89;

$size-header: 4.25rem;
$size-sidebar: 5rem;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;