<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>@ViewBag.Title | Notifo</title>

    <style>
        .logo {
            position: absolute;
            right: 2rem;
            max-width: 7rem;
            max-height: 3rem;
            top: 1rem;
        }
    </style>
</head>
<body>
    <img class="logo" alt="Logo" src="~/logo.svg" />

    @RenderBody()
</body>
</html>