@inject IHtmlLocalizer<AppResources> T

@{
    ViewData["Title"] = T["ConfirmTitle"];

Layout = "~/Views/_Layout.cshtml";
}

<h3>@T["UnsubscribedHeadline"]</h3>

<div class="notifo-form-group pb-2 notifo-text">@T["UnsubscribedqText"]</div>