@page
@inject IHtmlLocalizer<AppResources> T
@model ErrorModel
@{
    ViewData["Title"] = T["ErrorTitle"];
}

<h1 class="text-xxl mb-0" style="line-height: 1.2">
    @Model.ErrorCode
</h1>

<h2 class="mb-4">
    @T["ErrorInfo"]
</h2>

<p class="text-muted">
    @T["ErrorText"]
</p>

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <textarea readonly class="form-control mono text-xs">@Model.ErrorMessage.Trim()</textarea>
}