@page
@inject IHtmlLocalizer<AppResources> T
@model LoginTestModel
@{
    ViewData["Title"] = T["LoginTestTitle"];
}

<h1 class="text-xxl mb-0" style="line-height: 1.2">
    200
</h1>

<h2 class="mb-4">
    @T["LoginTestInfo"]
</h2>

<p class="text-muted">
    @T["LoginTestText"]
</p>