name: Dev
concurrency: build

on:
  push:
    branches:
      - main
      - 'release/*'
  pull_request:
    branches:
      - main
      - 'release/*'

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4.3.2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2.1.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.1

      - name: Login to Docker Hub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: BUILD
        uses: docker/build-push-action@v3.2.0
        with:
          push: false
          build-args: "NOTIFO__RUNTIME__VERSION=1.0.0-dev-${{ env.BUILD_NUMBER }}"
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: squidex/notifo-build

      - name: Replace Image Name1
        uses: mikefarah/yq@v4.9.1
        with:
          cmd: yq e '.services.notifo1.image = "squidex/notifo-build"' -i backend/tests/docker-compose.yml

      - name: Replace Image Name2
        uses: mikefarah/yq@v4.9.1
        with:
          cmd: yq e '.services.notifo2.image = "squidex/notifo-build"' -i backend/tests/docker-compose.yml

      - name: Inject Google Credentials
        run: mkdir secrets && echo "$GOOGLE__KEYFILE" >| secrets/keyfile.json
        working-directory: backend/tests
        env:
          GOOGLE__KEYFILE: ${{ secrets.GOOGLE__KEYFILE }}

      - name: Start Test
        run: docker-compose up -d
        working-directory: backend/tests

      - name: RUN TEST
        uses: kohlerdominik/docker-run-action@v1.1.0
        with:
          image: mcr.microsoft.com/dotnet/sdk:7.0
          environment: |
            MAILCATCHER__HOST__SMTP=mailcatcher
            MESSAGEBIRD__ACCESSKEY=${{ secrets.MESSAGEBIRD__ACCESSKEY }}
            CONFIG__WAIT=60
            CONFIG__SERVER__URL=http://localhost:8080
            WEBHOOKCATCHER__HOST__ENDPOINT=webhookcatcher
          default_network: host
          options: --name test1
          volumes: ${{ github.workspace }}:/src
          run: dotnet test /src/backend/tools/TestSuite/TestSuite.ApiTests/TestSuite.ApiTests.csproj --filter Category!=NotAutomated

      - name: RUN TEST GooglePubSub
        uses: kohlerdominik/docker-run-action@v1.1.0
        with:
          image: mcr.microsoft.com/dotnet/sdk:7.0
          environment: |
            MAILCATCHER__HOST__SMTP=mailcatcher
            MESSAGEBIRD__ACCESSKEY=${{ secrets.MESSAGEBIRD__ACCESSKEY }}
            CONFIG__WAIT=60
            CONFIG__SERVER__URL=http://localhost:8081
            WEBHOOKCATCHER__HOST__ENDPOINT=webhookcatcher
          default_network: host
          options: --name test2
          volumes: ${{ github.workspace }}:/src
          run: dotnet test /src/backend/tools/TestSuite/TestSuite.ApiTests/TestSuite.ApiTests.csproj --filter Category!=NotAutomated
       
      - name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2.2.1
        with:
         images: 'squidex/notifo-build,squidex/resizer'
         tail: '100'

      - name: Cleanup Test
        if: always()
        run: docker-compose down
        working-directory: backend/tests

  publish:
    needs: build_test
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4.3.2

      - name: Calculate Version
        env:
          BUILD_NUMBER: ${{ github.run_number }}
        run: |
          echo "BUILD_NUMBER=$(($BUILD_NUMBER + 1000))" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2.1.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.1

      - name: Login to Docker Hub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: BUILD
        uses: docker/build-push-action@v3.2.0
        with:
          push: true
          build-args: "NOTIFO__RUNTIME__VERSION=1.0.0-dev-${{ env.BUILD_NUMBER }}"
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            squidex/notifo:dev
            squidex/notifo:dev-${{ env.BUILD_NUMBER }}
